body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #5050f2;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.menu-btn {
    background-color: #5050f2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #003399;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #5050f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003399;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: #5050f2;
    color: white;
    padding: 10px;
}

tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.action-btn {
    cursor: pointer;
    border: none;
    background: none;
}

.action-btn .fa {
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease;
}

.action-btn .fa:hover {
    color: #007bff;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #5050f2;
    color: white;
}
