body {
    font-family: Arial, sans-serif;
    background-image: url('caminho/para/sua/imagem.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.formu {
    background-color: rgba(255, 255, 255, 0.8); /* Adiciona uma opacidade branca para tornar o formulário mais legível */
    max-width: 360px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* O restante do seu CSS permanece o mesmo */
